## Function to generate N odd Armstrong numbers

In [ ]:
def armstrong(n):
    ns=str(n)
    n1=len(ns)
    summ=0
    for i in ns:
        summ=summ+(int(i)**n1)
    if(summ==n):
        return True
    return False

In [ ]:
armstrong(407)

In [ ]:
def odd(n):
    if (n%2!=0):
        return True
    return False
odd(47)    # input provided

In [ ]:
odd(134)

In [ ]:
def narmstrong(n):
    i=0
    while i<n+1:
        for j in range(1, 10**10):
            if (armstrong(j) and odd(j)):
                print(j)
                i=i+1

In [ ]:
narmstrong(10)

## String Slicing Methods

In [20]:
s="hello aditya college"
s      # to get the output

'hello aditya college'

In [21]:
# to split the string
s="hello/aditya/college"
s1=s.split('/')  
s1

['hello', 'aditya', 'college']

In [22]:
# to join the string
" # ".join(s1)

'hello # aditya # college'

In [23]:
# counting of characters in a string
s.count("a")

2

In [24]:
u="ADITYA"
u.islower() # to check whether the given string is in upper case or not
            # o/p is false as the string is in upper casebut not in lower

False

In [25]:
s
s.islower() # s is in lower case

True

In [26]:
u="ADityA"
u.lower()

'aditya'

In [27]:
u.swapcase()  # turns the caps letters to small & smalls to caps

'adITYa'

In [13]:
# to find the length of a string
st="Hello All"    # st is a variable
len(st)

9

In [12]:
# to make the first letters of a word as capital
t= "bhallam naga sireesha"
t.title()

'Bhallam Naga Sireesha'

In [11]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [10]:
s = "heLlo AditYa"
print(s.istitle()) # false as the 1st ltr in the 1st word is not capital
s.title()

False

'Hello Aditya'

In [9]:
s1 = s.title()
s1.istitle()

True

In [8]:
s="   Aditya   "
print(len(s))
s.isspace()

12

False

In [7]:
s = " a d i t y a "
print(s.isspace())
s.islower()

False

True

In [6]:
s2="a d i t y a"
s3=""
for i in s:
    if not i.isspace():
        s3+=i
print(s3, len(s3))

Aditya 6

In [5]:
# to remove spaces in a string
s="   Adi  tya   "
print(s.strip()) # removes only spaces before and after a string
print(s.rstrip()) # removes right spaces of a string
print(s.lstrip()) # removes left spaces of a string

Adi  tya
   Adi  tya
Adi  tya

In [4]:
s ="python workshop"
print(s.startswith("P")) # whether started with the P or not
print(s.endswith("o")) # whether ended with the o or not
s.replace("workshop", "programming")

False
False

'python programming'

In [3]:
s= "aditya123"
s.isnumeric()  # false as input also contains chars

False

In [2]:
s="aditya12college45python67"
sum1=0
for i in s:
    if i.isdigit():
        sum1+=int(i)
print(sum1)  

#print(len(s))

25

In [28]:
s="aditya"
s.index('a',1)  # excluding 1st a in the string
                # 2nd 'a' is in position 5 in the string given
                # index of a string starts with 0

5

In [2]:
# Take a string as input from user and print the count of digits, alphabets,
# spaces and special characters in that string.
s=input("enter a string: ")
alphabet=number=space=character=0
for i in range(len(s)):
    if(s[i].isalpha()):
        alphabet=alphabet+1
    elif(s[i].isdigit()):
        number=number+1
    elif(s[i].isspace()):
        space=space+1
    else:
        character=character+1
print("no.of characters:",character)
print("no.of spaces:",space)
print("no.of numbers:",number)
print("no.of alphabets:",alphabet)

enter a string: bhallam naga sireesha
no.of characters: 0
no.of spaces: 2
no.of numbers: 0
no.of alphabets: 19