## Sets & Dictionaries

### Sets

In [67]:
s1=set()
type(s1)

set

In [68]:
# removing repeated numbers
li = [35,6,23,23,5,67,76,8,67]
s2 = set(li)
s2

{5, 6, 8, 23, 35, 67, 76}

In [69]:
# adding new element to the list
s2.add(78)
s2

{5, 6, 8, 23, 35, 67, 76, 78}

In [70]:
s2.update([0,23])
s2

{0, 5, 6, 8, 23, 35, 67, 76, 78}

In [14]:
s2.update((7,6,90))
s2

{0, 5, 6, 7, 8, 23, 35, 67, 76, 78, 90}

In [16]:
# union of sets
set1 = {1,2,56,4}
set2 = {4,5,6,7}
set3 = set1|set2
set3

{1, 2, 4, 5, 6, 7, 56}

In [17]:
# or
set3 = set1.union(set2)
set3

{1, 2, 4, 5, 6, 7, 56}

In [20]:
set3 =  set1.union(set2)
set3.discard(6)
set3

{1, 2, 4, 5, 7, 56}

In [19]:
# intersection of elements
set4 =  set1 & set2
set4

{4}

In [21]:
# or
set4 = set1.intersection(set2)
set4

{4}

In [30]:
# subtraction of sets
a = {10, 11, 12, 20}
b = {11, 13, 14, 10}
#print(a-b)
#b-a

a.difference(b)

{12, 20}

In [31]:
a.difference_update(b)

In [32]:
a.pop()  # not in use as it pops the random number & prints it

20

In [13]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [33]:
a.isdisjoint(b)

True

In [36]:
# subset verification
a = {1,3,5,7,9}
b = {1,3,9}    # elements in b are present in a. so it's true
b.issubset(a)

True

In [37]:
a.issuperset(b)

True

In [23]:
a = {10, 11, 12, 20}
b = {11, 13, 14, 10}
a.symmetric_difference(b)

{12, 13, 14, 20}

### Task

In [39]:
# take 2 sets & perform all operations based on user requirement
set1={23,43,45,54,78,90}
set2={89,67,56,3,89,23}
n=int(input("enter type of operation: 1- union 2-intersetion 3- difference 4-symmetric_difference"))
if (n==1):
    set3 = set1.union(set2)
    print(set3)
if (n==2):
    set4 = set1.intersection(set2)
    print(set4)
if (n==3):
    set5 = set1.difference(set2) 
    print(set5)
if (n==4):
    set6 = set1.symmetric_difference(set2)
    print(set6)

enter type of operation: 1- union 2-intersetion 3- difference 4-symmetric_difference3
{43, 45, 78, 54, 90}

In [47]:
# print iteration over sets (all elements of a set)
for i in set5:
    print(i)

43
45
78
54
90

In [96]:
# max, min & length of a given set
set = {56,768,23,567,4,435}
print("max number is ",max(set))
print("min number is ",min(set))
print("length is ",len(set))

max number is  768
min number is  4
length is  6

### Dictionaries

In [38]:
()

()

#### Note:
##### Repeated elements are considered as unique

In [49]:
dict = {'key1':100,'key2':20,'key3':25}
len(dict)

3

In [51]:
dict['key3']

25

In [50]:
for i in dict:
    print(i)

key1
key2
key3

In [52]:
# to get the items in dictionary
for i in dict.items():
    print(i)

('key1', 100)
('key2', 20)
('key3', 25)

In [52]:
for item in dict.items():
    print(item[0],':',item[1])

key1 : 100
key2 : 20
key3 : 25

In [53]:
for key,value in dict.items():
    print(key, value)

key1 100
key2 20
key3 25

In [54]:
dict['key2'] = 15
dict

{'key1': 100, 'key2': 15, 'key3': 25}

In [57]:
dict['key2'] = 567
dict['key4'] = 'pink'
dict

{'key1': 100, 'key2': 567, 'key3': 25, 'key4': 'pink'}

In [64]:
dir(dict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [58]:
d=dict.copy()
d

{'key1': 100, 'key2': 567, 'key3': 25, 'key4': 'pink'}

In [60]:
x = {'k1', 'k2'}
y = 89
d1 = dict.fromkeys(x,y)
d1

{'k1': 89, 'k2': 89}

In [61]:
d1.get('key2')

In [83]:
dict.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

In [84]:
dict.values()

dict_values([100, 15, 25, 'pink'])

In [62]:
dict.pop('key4')

dict

{'key1': 100, 'key2': 567, 'key3': 25}

In [65]:
dict.popitem()

dict

{'key1': 100}

In [66]:
dict.update({'key3':150})
dict

{'key1': 100, 'key3': 150}

In [98]:
# take a string and print the count of each alphabet using dictionary
s1 = 'Programming in Python'
d = {}
for i in s1:
    if i not in d:
        d[i]=1
    else:
        d[i]+=1
print(d)

{'P': 2, 'r': 2, 'o': 2, 'g': 2, 'a': 1, 'm': 2, 'i': 2, 'n': 3, ' ': 2, 'y': 1, 't': 1, 'h': 1}

### Contact Application using Dictionaries

### Tasks

In [ ]:
# print the count of all elements in a given string using dictionaries

In [ ]:
# program to generate and print the dictionarythat contains number and 
# it's square value as key, value pairs. (lb,ub) both are included.

In [ ]:
# print the sum of all values in a dictionary

In [ ]:
# program to sort and print the kth larget value in a dictionary

In [ ]:
# program to print the 6th smallest value in a dictionary