## Data Structures 
### Lists

In [1]:
# lists []

In [2]:
# tuples()    #can take number of inputs but are can't changeable
# dictionaries{}
# sets()      # takes pair of input and are changeble

In [6]:
li=[1,2,3,4,5,6,7,8,9,10]
li[0]   # prints the element at zeroth position in the list

1

In [7]:
li.index(10)

9

In [8]:
lis=["abc", "sdnv", "asd"]
lis[0]

'abc'

In [9]:
lis.index("sdnv")

1

In [11]:
len(lis)   # length of a list

3

In [12]:
mstp=[]
mstp.append("siri")
mstp

['siri']

In [14]:
mstp.append("sri")

['siri', 'sri', 'sri']

In [17]:
mstp

['siri', 'sri', 'sri', 'ruthvik', 'ruthvik']

In [16]:
mstp.append("ruthvik")

['siri', 'sri', 'sri', 'ruthvik', 'ruthvik']

In [18]:
mstp

['siri', 'sri', 'sri', 'ruthvik', 'ruthvik']

In [21]:
mstp_1=mstp.copy()

In [22]:
mstp_1.clear()

In [25]:
mstp.count("sri")

2

In [26]:
s="advygrfifvnyuyjfov8iuwevu7lkfnvuo"

In [27]:
s.count("u")

4

In [29]:
li1=["hello"]

In [31]:
li2=["sireesha"]

In [33]:
li1.extend(li2)

In [34]:
li1

['hello', 'sireesha', 'sireesha']

In [35]:
li2.extend(li1)

In [36]:
li2

['sireesha', 'hello', 'sireesha', 'sireesha']

In [41]:
li2.index(0)

ValueError: 0 is not in list

In [42]:
li1.insert(4,0)   # inserts 0 at 8th position

In [43]:
li1

['hello', 'sireesha', 'sireesha', 0]

In [44]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [48]:
li.pop()   # removes last element in the list

8

In [46]:
li

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
li.pop()

9

In [77]:
li.remove(3)     # removes number at given position from the list

In [78]:
li

[1, 2, 5, 6, 7]

In [57]:
li5=[1,2,3,3,4,46,5,76]

In [58]:
li5.reverse()

In [59]:
li5

[76, 5, 46, 4, 3, 3, 2, 1]

In [60]:
li3=[234,4,56,457,678,78,9]

In [61]:
li3.sort()

In [62]:
li3

[4, 9, 56, 78, 234, 457, 678]

In [63]:
li3.reverse()

In [64]:
li3

[678, 457, 234, 78, 56, 9, 4]

In [5]:
s1=set()
type(s1)

set

In [7]:
# removing repeated numbers
li = [23,3,4,567,5,3,4,45]
s2 = set(li)
s2

{3, 4, 5, 23, 45, 567}

In [10]:
# adding new element to the list
s2.add(49)
s2

{3, 4, 5, 23, 45, 49, 567}

In [11]:
s2.update([0,11])
s2

{0, 3, 4, 5, 11, 23, 45, 49, 567}

In [12]:
s2.update((7,6,8))
s2

{0, 3, 4, 5, 6, 7, 8, 11, 23, 45, 49, 567}

In [17]:
# union of sets
set1 = {1,2,3,4}
set2 = {4,5,6,7}
set3 = set1|set2
set3

{1, 2, 3, 4, 5, 6, 7}

In [19]:
# or
set3 = set1.union(set2)
set3

{1, 2, 3, 4, 5, 6, 7}

### Tasks

In [65]:
# take a list of elements & add that list into another empty list
a=[1,2,3,4,5467,79,890,0]

In [66]:
b=[]

In [67]:
a.extend(b)

In [68]:
a

[1, 2, 3, 4, 5467, 79, 890, 0]

In [69]:
# Sort the list of elements in ascending order & descending order
c=[23,434,6567,6,97,235,457]

In [70]:
c.sort()

In [71]:
c

[6, 23, 97, 235, 434, 457, 6567]

In [72]:
c.reverse()

In [73]:
c

[6567, 457, 434, 235, 97, 23, 6]

In [74]:
#Write a python program to print the sum and average of elements in the list
v=[213,345,45,656,7,87]

In [80]:
len(v)

6

In [81]:
sum(v)

1353

In [82]:
avg=sum(v)/len(v)

In [83]:
avg

225.5

### Tuples

In [84]:
()

()

In [40]:
t = 1,2,3,4
t             #no need of braces; t1 access all the numbers 
            #that are assigned to it (t1)

(1, 2, 3, 4)

In [41]:
t[-1]

4

In [47]:
t1,t2,t3,t4 = t
t=234,34,545,657
t4

657

In [92]:
# for permanent data

In [8]:
t=(2,3,434645,767,878,9)

In [86]:
t

(2, 3, 434645, 767, 878, 9)

In [88]:
t[0] # prints number at zeroth position

2

In [11]:
t3 = t+t1
t3

(2, 3, 434645, 767, 878, 9, 1, 2, 3)

In [50]:
t1=(11,11,22,3,5,2,622,)

In [51]:
t1[0]

11

In [15]:
t4=("siri", "satya", "sri")
t5 = t1 + t4
t5

(11, 11, 22, 3, 5, 2, 622, 'siri', 'satya', 'sri')

In [17]:
t5[4:9]     # elements in t5 from 4th position to 9th

(5, 2, 622, 'siri', 'satya')

In [20]:
t = ("Sri")     
type(t)     # defines the type of the input

str

In [21]:
t=("sri", "ruthwik")
type(t)              # defines th type of the input

tuple

In [52]:
t4 = ("python", "java", "program")
li = list(t4)
li[2] = C++
print(tuple(li))

SyntaxError: invalid syntax (<ipython-input-52-0369171bf6d7>, line 3)

In [25]:
# to find the count of a number in a tuple
t3=(2,3,5,67,67,34,4,4,4,4,4,8,)
t3.count(4)

5

In [29]:
# to find the index of a number in a tuple
t3.index(67)     # prints the 1st occurance

3

In [28]:
# to find the index of a number in a tuple
t3.index(67,4)  # prints the number at a position given(4)

4

In [93]:
len(t)

6

In [94]:
sum(t)

436304

In [95]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [96]:
t

(2, 3, 434645, 767, 878, 9)

In [106]:
# printing elements in reverse order
l=len(t)
for i in range(l-1, -1, -1):
    print(t[i])

9
878
767
434645
3
2

In [103]:
l

6

In [101]:
t[5]

9

In [112]:
# to reverse the elements in a tuple
t=(1243,53464,65676,756878,78980)  # input
l=len(t)
for i in range(l-1,-1,-1):   # l-1 is the max size of the tuple
    print(t[i])

78980
756878
65676
53464
1243

In [119]:
# to print the largest number from the list
list1=[123,4345,456,567,78]
print("Largest number in the list: ", max(list1))

Max number in the list:  4345

In [120]:
# to print the minimum number from the list
print("the smallest number: ", min(list1))

the smallest number:  78

In [117]:
# print the count of chars, numbers, alphabets & spaces in a string
s=input("enter a string: ")
alphabet=number=space=character=0
for i in range(len(s)):
    if(s[i].isalpha()):
        alphabet=alphabet+1
    elif(s[i].isdigit()):
        number=number+1
    elif(s[i].isspace()):
        space=space+1
    else:
        character=character+1
print("no.of characters:",character)
print("no.of spaces:",space)
print("no.of numbers:",number)
print("no.of alphabets:",alphabet)

enter a string: @siri6282
no.of characters: 1
no.of spaces: 0
no.of numbers: 4
no.of alphabets: 4

In [138]:
# check whether the list is empty or not
mylist = ["red", "green"]
if len(mylist) == 0:
    print("the list is empty")
else:
    print("the list is not empty")

the list is not empty

In [1]:
mylist = ["red", "green"]
if (mylist.isempty):
    print("the list is empty")
else:
    print("the list is not empty")

AttributeError: 'list' object has no attribute 'isempty'

In [140]:
mylist = ()
if len(mylist) == 0:
    print("the list is empty")
else:
    print("the list is not empty")

the list is empty

In [149]:
# to remove the duplicates in the list 
mylist = ["s","i","r","e","e","s","h","a"]
count=0
list=[]
for i in mylist:
    count=mylist.count(i)
    if count>1:
        mylist.remove(i)
print(mylist)

['i', 'r', 'e', 's', 'h', 'a']

In [151]:
# to remove the duplicates in the list
mylist = ["siri","sireesha","sireesha","mounika","mounika","revanth",
          "revanth","jyoshna","jyoshna"]
count=0
list=[]
for i in mylist:
    count=mylist.count(i)
    if count>1:
        mylist.remove(i)
print(mylist)

['siri', 'sireesha', 'mounika', 'revanth', 'jyoshna']

## Tasks on Tuple

In [163]:
# to change the item in a tuple
t=(23,34,45,56,65)
li=list(t)
li.append(33)
print(tuple(li))

(23, 34, 45, 56, 65, 33)

In [165]:
# to convert a tuple to a string
t=("siri6282",)
list(t)
list

list

In [151]:
# to print the 4th element from the last in a tuple
t=[12,232,23,34,46,67,77,99,97,78]
l=len(t)
for i in t:
    if [l-1,]:                   # incomplete condition
        print(t[i])

IndexError: list index out of range

In [172]:
# program to find the repeated items in a tuple
count=0
t=(234,45,65,234,45,809)
li=list(t)
for i in li:
    count=li.count(i)
    if count>1:
        li.remove(i)
print(li)

[65, 234, 45, 809]

In [1]:
# print the length of a tuple without using length function
t=(12,34,45,65,90,67,)
count=0
for i in t:                     #incomplete
    if t.count(i)>1:
        print(t)

In [79]:
# program to reverse a tuple
t=[1,3,2,2,4,7]
t.reverse()
t

[7, 4, 2, 2, 3, 1]

In [131]:
# program to replace the last value of all elements in a tuple
tu=((1,2,3),(2,3,4),(4,5,7))
for i in tu:
    print(i[:-1]+(10,))

(1, 2, 10)
(2, 3, 10)
(4, 5, 10)

## Tasks on Lists

In [137]:
# program to find the 2nd largest & smallest number in a list
t=(23,45,56,67,4,5,678,56,9,-100)
list(t)
t.sort()
print(k-1,k)

AttributeError: 'tuple' object has no attribute 'sort'

In [157]:
# program to get the difference between the lists
t1 = (23,90,34,56,678,34,6)
t2 = (75,64,4,34,89,35,67,)
for i in t1:
    for i in t2:
        t3 = t1[i] - t2[i]
print(t3)

IndexError: tuple index out of range

In [3]:
# program to print the list after removing even numbers in it
li=[2,32,354,56,3]
li.remove(3)
li

[2, 32, 354, 56]

In [ ]:
# program to print the palindromic elements in a list